.header-container{
  display:flex;
  justify-content: space-between;
  position: fixed;
  top:0;
  height:70px;
  background:white;
  width:80%;


}
.my-label{
   margin:0;
   padding:10px 0 2px 0;
   font-size:14px;
}